<include file="include/header"/>
<link rel="stylesheet" href="__PUBLIC__/Home/css/personal.css">
<div class="nav_crumb">
    <ul class="breadcrumb personal_crumb width1000">
        <li><a>你的位置：</a></li>
        <li><a>首页</a></li>
        <li><a>个人中心</a></li>
    </ul>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal_con">
    </div>
</div>

<div class="width1000">
    <div class="personal_left">
        <div class="personal_msg">
            <div class="portrait">
                <img class="portrait_img" src="__PUBLIC__{$user_info['user_portrait']}">
            </div>
            <div class="portrait2">
                <h5>
                    <if condition="$user_info['user_name'] neq '' ">
                        <span>欢迎，{$user_info['user_name']}</span>
                        <elseif condition="$user_info['user_email'] neq '' " />
                        <span>欢迎，{$user_info['user_email']}</span>
                        <else />
                        <span>欢迎，{$user_info['user_phone']}</span>
                    </if>
                    <if condition="$user_info['user_gender'] eq 1">
                        <span>&nbsp;先生</span>
                        <elseif condition="$user_info['user_gender'] eq 2" />
                        <span>&nbsp;女士</span>
                    </if>
                </h5>
                <p>注册号：{$user_info['user_register']}</p>
                <h6><a class="ionc"></a><a class="shengji">升级/缴费</a></h6>
                <a class="edit" href="{:U('personal/personal_edit')}">编辑信息</a>
            </div>
        </div>
        <ul class="state" title="实名认证">
                <li><i class="state_icon1"></i><a href="{:U('personal/personal_safe')}">未认证</a></li>
                <li><i class="state_icon2"></i><a href="{:U('personal/personal_safe')}">未保障</a></li>
                <li><i class="state_icon3"></i><a href="{:U('personal/personal_safe')}">已绑定</a></li>
                <li><i class="state_icon4"></i><a href="{:U('personal/personal_safe')}">未绑定</a></li>
        </ul>
        <div class="personal_grade">
            <div class="ppdengji">
                <span>PP合伙人等级：</span>
                <a><i class="ppdengji_icon"></i></a>
            </div>
            <div class="vipdengji">
                <span>会员等级：</span>
                <a href="">P1</a>
            </div>
            <div class="safedengji">
                <span>安全等级：</span>
                <div class="level"><div class="level_value"></div></div>
                <div class="level_msg"><span>低</span><a>提升</a></div>
            </div>
        </div>
        <div class="account_title my_account">
            我的账户
        </div>
        <div class="invest_manage">
            <div class="account_title  invest_manage_title">
                投资管理
            </div>
            <div class="invest_content">
                <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_03.png"></div><span>月月增</span></a>
                <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_05.png"></div><span>季季增</span></a>
                <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_08.png"></div><span>省心宝</span></a>
                <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_14.png"></div><span>定期理财</span></a>
            </div>
        </div>
        <div class="invest_manage">
            <div class="account_title  invest_manage_title">
                投资管理
            </div>
            <div class="invest_content">
                <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_18.png"></div><span>月月增</span></a>
                <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_20.png"></div><span>季季增</span></a>
                <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_22.png"></div><span>省心宝</span></a>
                <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_28.png"></div><span>定期理财</span></a>
            </div>
        </div>
        <div class="invest_manage">
            <div class="account_title  invest_manage_title">
                资金管理
            </div>
            <div class="invest_content">
                <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_03.png"></div><span>监管账户</span></a>
                <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_05.png"></div><span>我的银行卡</span></a>
                <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_08.png"></div><span>交易记录</span></a>
                <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_14.png"></div><span>充值</span></a>
            </div>
        </div>
        <div class="invest_manage">
            <div class="account_title  invest_manage_title">
                会员资料
            </div>
            <div class="invest_content">
                <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_31.png"></div><span>会员资料</span></a>
                <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_32.png"></div><span>安全认证</span></a>
                <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_34.png"></div><span>密码管理</span></a>
                <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_39.png"></div><span>pp合伙人</span></a>
            </div>
        </div>


    </div>
    <div class="personal_right">
        <div class="personal_capital">
            <div class="personal_trade">
                <div class="personal_trade_balance">
                    <span>账户余额：<h2>999.00</h2>元</span><a>转入灵活宝</a>
                </div>
                <div class="personal_trade_operate">
                    <a class="recharge">充值</a>
                    <a class="cash">提现</a>
                </div>
            </div>
            <ul class="personal_profit">
                <li>
                    <p>总资产<span>(元)</span></p>
                    <p class="cash">0.00</p>
                    <p><a>查看详情></a></p>
                </li>
                <li>
                    <p>累计收益<span>(元)</span></p>
                    <p class="cash">0.00</p>
                    <p><a>查看详情></a></p>
                </li>
                <li>
                    <p>我的积分</p>
                    <p class="cash">0</p>
                    <p><a>积分商城></a></p>
                </li>
            </ul>
            <p class="all_profit">累计投资：<span>0</span>笔， 共计：<span>0.00</span>元</p>
        </div>
        <div></div>
    </div>

</div>
<script src="__PUBLIC__/Home/js/personal.js"></script>

<include file="include/footer"/>
