<include file="include/header"/>
<link rel="stylesheet" href="__PUBLIC__/Home/css/personal.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/personal_common.css">
<div class="width100">
    <div class="nav_crumb">
        <ul class="breadcrumb personal_crumb width1000">
            <li><a>你的位置：</a></li>
            <li><a href="{:U('index/index')}">首页</a></li>
            <li><a href="{:U('personal/index')}">个人中心</a></li>
        </ul>
    </div>
    <div class="width1000 personal_con">
        <div class="personal_left">
            <div class="personal_msg">
                <div class="portrait">
                    <img class="portrait_img" src="__PUBLIC__{$user_info['user_portrait']}">
                </div>
                <div class="portrait2">
                    <h5>
                        <if condition="$user_info['user_name'] neq '' ">
                            <span>欢迎，{$user_info['user_name']}</span>
                            <elseif condition="$user_info['user_email'] neq '' " />
                            <span>欢迎，{$user_info['user_email']}</span>
                            <else />
                            <span>欢迎，{$user_info['user_phone']}</span>
                        </if>
                        <if condition="$user_info['user_gender'] eq 1">
                            <span>&nbsp;先生</span>
                            <elseif condition="$user_info['user_gender'] eq 2" />
                            <span>&nbsp;女士</span>
                        </if>
                    </h5>
                    <p>注册号：<br>{$user_info['user_register']}</p>
                    <h6><a class="ionc"></a><a class="shengji">升级/缴费</a></h6>
                    <a class="edit" href="{:U('personal/personal_edit')}">编辑信息</a>
                </div>
            </div>
            <ul class="state" title="实名认证">
                <php>$num=0;</php>
                <if condition="$user_info['user_id_card'] eq ''">
                    <li><i class="state_icon1"></i><a href="{:U('personal/personal_safe')}">未认证</a></li>
                    <else/>
                    <li><i class="state_icon11"></i><a href="{:U('personal/personal_safe')}">已认证</a></li>
                    <php>$num+=1;</php>
                </if>
                <if condition="$user_info['user_name'] eq ''">
                    <li><i class="state_icon2"></i><a href="{:U('personal/personal_safe')}">未保障</a></li>
                    <else/>
                    <li><i class="state_icon21"></i><a href="{:U('personal/personal_safe')}">已保障</a></li>
                    <php>$num+=1;</php>
                </if>
                <if condition="$user_info['user_phone'] eq ''">
                    <li><i class="state_icon3"></i><a href="{:U('personal/personal_safe')}">未绑定</a></li>
                    <else/>
                    <li><i class="state_icon31"></i><a href="{:U('personal/personal_safe')}">已绑定</a></li>
                    <php>$num+=1;</php>
                </if>
                <if condition="$user_info['user_email'] eq ''">
                    <li><i class="state_icon4"></i><a href="{:U('personal/personal_safe')}">未绑定</a></li>
                    <else/>
                    <li><i class="state_icon41"></i><a href="{:U('personal/personal_safe')}">已绑定</a></li>
                    <php>$num+=1;</php>
                </if>
            </ul>
            <div class="personal_grade">
                <div class="ppdengji">
                    <span>PP合伙人等级：</span>
                    <a><i class="ppdengji_icon"></i></a>
                </div>
                <div class="vipdengji">
                    <span>会员等级：</span>
                    <a>P1</a>
                </div>
                <div class="safedengji">
                    <span>安全等级：</span>
                    <div class="level"><div class="level_value" style="width: <?=$num*20?>px"></div></div>
                    <if condition="$num*20 lt 80">
                        <div class="level_msg"><a href="{:U('personal/personal_safe')}">提升</a></div>
                    </if>
                </div>
            </div>
            <div class="account_title my_account">
                我的账户
            </div>
            <div class="invest_manage">
                <div class="account_title  invest_manage_title">
                    投资管理
                </div>
                <div class="invest_content">
                    <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_03.png"></div><span>月月增</span></a>
                    <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_05.png"></div><span>季季增</span></a>
                    <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_08.png"></div><span>省心宝</span></a>
                    <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_14.png"></div><span>定期理财</span></a>
                </div>
            </div>
            <div class="invest_manage">
                <div class="account_title  invest_manage_title">
                    投资管理
                </div>
                <div class="invest_content">
                    <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_18.png"></div><span>月月增</span></a>
                    <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_20.png"></div><span>季季增</span></a>
                    <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_22.png"></div><span>省心宝</span></a>
                    <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_28.png"></div><span>定期理财</span></a>
                </div>
            </div>
            <div class="invest_manage">
                <div class="account_title  invest_manage_title">
                    资金管理
                </div>
                <div class="invest_content">
                    <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_03.png"></div><span>监管账户</span></a>
                    <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_05.png"></div><span>我的银行卡</span></a>
                    <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_08.png"></div><span>交易记录</span></a>
                    <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_14.png"></div><span>充值</span></a>
                </div>
            </div>
            <div class="invest_manage">
                <div class="account_title  invest_manage_title">
                    会员资料
                </div>
                <div class="invest_content">
                    <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_31.png"></div><span>会员资料</span></a>
                    <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_32.png"></div><span>安全认证</span></a>
                    <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_34.png"></div><span>密码管理</span></a>
                    <a><div class="img"><img src="__PUBLIC__/Home/imgs/user/account_39.png"></div><span>pp合伙人</span></a>
                </div>
            </div>


        </div>
        <div class="personal_right">
            <div class="personal_capital">
                <div class="personal_trade">
                    <div class="personal_trade_balance">
                        <span>账户余额：<h2>{$user_info['money']}</h2>元</span><a href="{:U('personal/personal_bank')}">绑定银行卡</a>
                    </div>
                    <div class="personal_trade_operate">
                        <a class="recharge" href="{:U('personal/recharge')}">充值</a>
                        <a class="cash"  href="{:U('personal/withdraw')}">提现</a>
                    </div>
                </div>
                <ul class="personal_profit">
                    <li>
                        <p>总资产<span>(元)</span></p>
                        <p class="cash">{$user_info['user_all_money']}</p>
                        <p><a>查看详情></a></p>
                    </li>
                    <li>
                        <p>累计收益<span>(元)</span></p>
                        <p class="cash">{$user_info['val_income']}</p>
                        <p><a>查看详情></a></p>
                    </li>
                    <li>
                        <p>我的积分</p>
                        <p class="cash">103</p>
                        <p><a>积分商城></a></p>
                    </li>
                </ul>
                <p class="all_profit">累计投资：<span>{$user_info['count_invest']}</span>笔， 共计：<span>{$user_info['invest_money']}</span>元</p>
            </div>

            <ul id="myTab" class="nav nav-tabs xxk_title">
                <li class="active"><a href="#run" data-toggle="tab">进行中</a></li>
                <li><a href="#finish" data-toggle="tab">已完成</a></li>
                <li><a href="#not" data-toggle="tab">未完成</a></li>
            </ul>
            <div class="tab-content xxk_content">
                <div class="tab-pane fade in active" id="run">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>资金</th>
                            <th>代号</th>
                            <th>期限</th>
                            <th>剩余天数</th>
                        </tr>
                        </thead>
                        <tbody class="tbody_ajax"></tbody>
                    </table>
                    <div class="pagination page_ajax"></div>
                </div>
                <div class="tab-pane fade" id="finish">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>产品id</th>
                            <th>资金</th>
                            <th>代号</th>
                            <th>期限</th>
                            <th>利率（%）</th>
                            <th>收益（元）</th>
                        </tr>
                        </thead>
                        <tbody class="finish_tbody"></tbody>
                    </table>
                    <div class="pagination finish_page"></div>
                </div>
                <div class="tab-pane fade" id="not">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>资金</th>
                            <th>代号</th>
                        </tr>
                        </thead>
                        <tbody class="not_tbody"></tbody>
                    </table>
                    <div class="pagination not_page"></div>
                </div>
            </div>

        </div>

    </div><!--内容-->
    <!--满屏-->
</div>
<script rel="stylesheet" src="__PUBLIC__/Home/js/personal.js"></script>
<include file="include/footer"/>

