<include file="include/header"/>
<link rel="stylesheet" href="__PUBLIC__/Home/css/personal_common.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/personal_bank.css">

<div class="width100">
    <div class="nav_crumb">
        <ul class="breadcrumb personal_crumb width1000">
            <li><a>你的位置：</a></li>
            <li><a href="{:U('index/index')}">首页</a></li>
            <li><a href="{:U('personal/index')}">个人中心</a></li>
            <li><a>绑定银行卡</a></li>
        </ul>
    </div>
    <div class="width1000 personal_con">
        <div class="bank">
            <form action="{:U('personal/doPersonal_bank')}" method="post">
                <div class="form_content">
                    <label>真实姓名</label>
                    <input class="input" type="text" name="name" placeholder="请输入姓名"><br>
                    <label>手机号</label>
                    <input class="input" type="text" name="phone" placeholder="请输入预留的手机号"><br>
                    <label>银行卡号</label>
                    <input class="input" type="text" name="bank_card" placeholder="请输入银行卡号">
                </div>
                <div class="form_content">
                    <label></label>
                    <input class="submit" type="submit" value="绑定">
                </div>
            </form>
        </div>

    </div><!--内容-->
    <!--满屏-->
</div>
<include file="include/footer"/>
