.clearfix:before,.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
body,div,p,ul,ol,li,dl,dt,dd,label,h1,h2,h3,h4,h5{
	margin: 0;
	padding: 0;
} 
a,a:hover,a:link{
	text-decoration: none;
} 
ul,ol{
	list-style: none; 
}
select:focus,button{ 
	outline: none;
	border:none;
}
input{
	font-style: normal;
}
header,footer,nav,section,aside,article,figure,figcaption{
	display: block;
}
.none{
	display: none;
}
 
 
 