<include file='include/header'/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/fundlist.css">
<!-- 基金超市 开始--> 
	<div id="super_content"> 
		<!-- 大标题 -->
		 <div class="super-title top-line clearfix">
		 	<div class="super-title-left">
		 		<h2>基本类型</h2>
		 		 <ul class="super-select-box">
		 		 	<li>
		 		 		<a href="{:U('Fund/fundlist',array('ftype'=>'9'))}" class="<php>select_active(I('get.ftype'),9)</php>">
		 		 			全部
		 		 		</a>
		 		 	</li>
		 		 	<li>
		 		 		<a href="{:U('Fund/fundlist',array('ftype'=>'1'))}" class="<php>select_active(I('get.ftype'),'1')</php>">
		 		 			混合型
		 		 		</a>
		 		 	</li>
		 		 	<li>
		 		 		<a href="{:U('Fund/fundlist',array('ftype'=>'5'))}" class="<php>select_active(I('get.ftype'),'5')</php>">
		 		 			债券型
		 		 		</a>
		 		 	</li>
		 		 	
		 		 	<li>
		 		 		<a href="{:U('Fund/fundlist',array('ftype'=>'3'))}" class="<php>select_active(I('get.ftype'),'3')</php>">
		 		 			货币型
		 		 		</a>
		 		 	</li>
		 		 	<li>
		 		 		<a href="{:U('Fund/fundlist',array('ftype'=>'2'))}" class="<php>select_active(I('get.ftype'),'2')</php>">
		 		 			指数型
		 		 		</a>
		 		 	</li>
		 		 	<li>
		 		 		<a href="{:U('Fund/fundlist',array('ftype'=>'6'))}" class="<php>select_active(I('get.ftype'),'6')</php>" >
		 		 			理财型
		 		 		</a>
		 		 	</li>
		 		 	<li>
		 		 		<a href="{:U('Fund/fundlist',array('ftype'=>'4'))}" class="<php>select_active(I('get.ftype'),'4')</php>">
		 		 			海外型
		 		 		</a>
		 		 	</li>
		 		 </ul>
		 	</div> 
		 	 
		 </div>
		 <!-- 大标题end -->
		 <!-- 主盒子开始 -->
		 <div class="super-main clearfix">
		  <!-- 主列表开始 -->
		 	<div class="super-list"> 
		 	<!-- 遍历开始 --> 
		 	<volist name="fundlist" id="fundItem">
		 		<!-- 列表单个选项 --> 
		 		 <php>
		 		 	$right_margin="right-margin"; 
		 		 	if($i==4||$i==8){
						$right_margin="";
		 		 	}
		 		 	$icon_color=""; 
		 		 	$fund_type=trim($fundItem['fund_type']); 
					switch($fund_type){
						case "指数型":$icon_color="yellow";break;
						case "货币型":$icon_color="green";break;
						case "债券型":$icon_color="bohe";break;
						case "海外型":$icon_color="red";break;
						case "理财型":$icon_color="licai";break;
						default:$icon_color="default";
		 		 	 }
		 		 </php> 
				<if condition="$fundItem['year_profit'] lt 0" > 
					<assign name="Green" value="ColorGreen" />  
						 
				</if>
				
		 		<div class="super-item {$right_margin}">
		 			<div class="super-item-tip">
		 				<span class="{$icon_color}">{$fundItem.fund_type}</span>
		 			</div>
		 			<div class="super-item-title">
		 				<p>{$fundItem.fund_fullname}</p>
		 				<span>{$fundItem.fund_name} {$fundItem.fund_code}</span>
		 			</div> 
		 			<p class="line"></p>
					<div class="super-item-per "  >
						<span class="{$Green}">
							{$fundItem.year_profit}
						</span>
						<small class="{$Green}">
							%
						</small>
						<p>近一年收益</p>
					</div>
					<div class="super-item-recent">
						最新净值
						<span>
							(元)
						</span>
						{$fundItem.navunit}
					</div>
					<div class="super-item-btn">
						<a href="{:U('Fund/detail')}">立即购买</a>
					</div>
		 		</div> 
		 		<!-- 列表单个选项end -->
		 	 </volist>
		 	 <!-- 遍历end -->
		 	</div>
		 	  <!-- 主列表end -->
		 </div>
		   <!-- 主盒子end-->
	</div>
	 <!-- 基金超市end-->  

<!-- 分页 -->
 <div class="b-page"> 
	{$sPages} 
 </div>
<!-- 分页 end-->
<include file='include/footer'/>