<include file='include/header'/>
  
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/fundlist.css">
<!-- 基金超市 开始-->
		<!-- 大图片开始 -->
		<section class="super-pic-box">
			 <a href="">
			 	
			 </a>
			 <div class="super-reg">
			 	<h4>昭昭基金超市</h4>
			 	<p>海量理财精选等着你!</p>
			 	<div class="super-bg">
			 		
			 	</div>
			 	<div class="link-reg">
			 		<a href="{:U('User/register')}" class="btn btn-danger">
			 			注册昭昭基金账户
			 		</a>
			 	</div>
			 	<div class="super-footer">
			 		已有账户?<a href="{:U('User/login')}">立即登陆</a>
			 	</div>
			 </div>
		</section>
		<!-- 大图片end -->
	<div id="super_content"> 
		<!-- 大标题 -->
		 <div class="super-title clearfix">
		 	<div class="super-title-left">
		 		<h3>明星基金推荐</h3>
		 		<span>近年来表现优异的基金</span>
		 		<a href="{:U('Fund/fundlist',array('ftype'=>'2'))}">更多>></a>
		 	</div> 
		 	<div class="super-title-right">
		 		 <a href="{:U('Fund/fundlist',array('ftype'=>'2'))}">显示全部</a>
		 	</div>
		 </div>
		 <!-- 大标题end -->
		 <!-- 主盒子开始 -->
		 <div class="super-main clearfix">
		  <!-- 主列表开始 -->
		 	<div class="super-list"> 
		 	<!-- 遍历开始 --> 
		 	<volist name="fundmain" id="fundItem">
		 		<!-- 列表单个选项 --> 
		 		 <php>
		 		 	$right_margin="right-margin"; 
		 		 	if($i==4||$i==8){
						$right_margin="";
		 		 	}
		 		 	$icon_color=""; 
		 		 	$fund_type=trim($fundItem['fund_type']); 
					switch($fund_type){
						case "指数型":$icon_color="yellow";break;
						case "货币型":$icon_color="green";break;
						case "债券型":$icon_color="bohe";break;
						case "海外型":$icon_color="red";break;
						case "理财型":$icon_color="licai";break;
						default:$icon_color="default";
		 		 	 }
		 		 </php>
					
		 		<div class="super-item {$right_margin}">
		 			<div class="super-item-tip">
		 				<span class="{$icon_color}">{$fundItem.fund_type}</span>
		 			</div>
		 			<div class="super-item-title">
		 				<p>{$fundItem.fund_fullname}</p>
		 				<span>{$fundItem.fund_name} {$fundItem.fund_code}</span>
		 			</div> 
		 			<p class="line"></p>
					<div class="super-item-per">
						<span>
							{$fundItem.year_profit}
						</span>
						<small>
							%
						</small>
						<p>近一年收益</p>
					</div>
					<div class="super-item-recent">
						最新净值
						<span>
							(元)
						</span>
						{$fundItem.navunit}
					</div>
					<div class="super-item-btn">
						<a href="{:U('Fund/funddetail',array('fixid' => $fundItem[fund_id]))}">立即购买</a>
					</div>
		 		</div> 
		 		<!-- 列表单个选项end -->
		 	 </volist>
		 	 <!-- 遍历end -->
		 	</div>
		 	  <!-- 主列表end -->
		 </div>
		   <!-- 主盒子end-->
	</div>
	 <!-- 基金超市end-->  
	
<include file='include/footer'/>
