<include file='include/header'/>
<link rel="stylesheet" href="__PUBLIC__/Home/css/net.css">
<div class="subnav">
    <ul>
        <li>您所在的位置:</li>
        <li><a href="{:U('Index/index')}">首页</a>&nbsp;></li>

        <li><span id="sortbarNameSub">投资理财</span></li>
    </ul>
</div>
<div class="mod-box">
    <div class="mod-cont">
        <div class="mod-left">
            <div id="nav_bg"></div>
            <ul class="left-list ">

                <li class="item <php> net_menu_active(I('get.type',0),0)</php>" >
                    <a href="{:U('net',array('type' => 0))}">
                        <h2 class="strong">
                            全部
                        </h2>
                    </a>
                </li>
                <li class="item <php> net_menu_active(I('get.type'),1)</php>" >
                    <a href="{:U('net',array('type' => 1))}">
                        <h2 class="strong">省心宝(
                            <span class="em" data-num="6">{$heartCount}</span> )
                        </h2>
                        <div class="tip">稳健收益更省心</div>
                    </a>
                </li>
                <li class="item <php> net_menu_active(I('get.type'),2)</php>" >
                    <a href="{:U('net',array('type' => 2))}">
                        <h2 class="strong">月月增(
                            <span class="em" >{$mountCount}</span> )
                        </h2>
                        <div class="tip">收益月增更赚钱</div>
                    </a>
                </li> 
            </ul>
        </div>
        <div class="mod-right">
            <div class="mod-com clearfix">
                    <php>  $type_name = I('get.type')==0 ? "全部": $projectlist[0]['type_name']</php>
                    <h3>{$type_name}</h3>
                    <h4>排序:</h4>
                    <ul>
                        <li  <php>net_nav_active(I('get.sort'),1)</php>>
                            <a href="{:U('net',array('type'=>I('get.type'),'sort'=>'1'))}">
                                发标时间
                                <i class="fa fa-arrow-down"></i>
                            </a> 
                        </li>
                         <li  <php>net_nav_active(I('get.sort'),2)</php> >
                            <a href="{:U('net',array('type'=>I('get.type'),'sort'=>'2'))}">
                                收益
                                <i class="fa fa-arrow-down"></i>
                            </a>
                            
                        </li>
                         <li  <php>net_nav_active(I('get.sort'),3)</php>>
                            <a href="{:U('net',array('type'=>I('get.type'),'sort'=>'3'))}">
                                期限
                                <i class="fa fa-arrow-down"></i>
                            </a>

                        </li>
                    </ul>
                    <p>
                      <a href="{:U('personal/index')}">
                          查看回款中的项目
                      </a>
                    </p>
            </div>
            <div class="mod-list">
            <volist name='projectlist' id='projectitem'>
                 <div class="prlist">
                    <div class="prlist_title">
                       <span class="fir">
                       {$projectitem.proj_lock}天{$projectitem.type_name}[{$projectitem['create_time']|date="Ymd-i",###}]
                       </span>
                       <!-- <span class="sml">手动</span>
                       <span class="sml">满减券</span>
                       <span class="sml">加息券</span> -->
                    </div>
                    <div class="explain">
                        <div class="main-rate">
                            <span>预期还款利率</span>
                            <span>{$projectitem.br_profit}</span>
                            <span>%</span> 
                        </div>

                        <div class="mod mod-lock">
                            <span class="hb">还款周期</span>
                            <span class="total">{$projectitem.proj_lock}</span>
                            <span class="num">天</span> 
                        </div>

                        <div class="mod  mod-total"  > 
                            <span class="hb">融资金额</span>
                            <span class="total">{$projectitem['proj_total']/10000|intval=###}</span>
                            <span class="num">万</span>
                        </div>

                        <div class="pro">           
                            <php> 
                                $progress=($projectitem['proj_amount'])/($projectitem['proj_total'])*100;
                                $progress=  sprintf("%.2f",substr(sprintf("%.3f", $progress), 0, -2));
                            </php>  

                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow=" {$progress}%" aria-valuemin="0" aria-valuemax="100" style="width: {$progress}%;"> 
                                         
                              </div> 
                            </div>
                            <em class="percent">
                                {$progress} %
                            </em>
                            <span> 
                                借出进度:
                            </span>
                        </div>
                        <div class="pro pro2">  
                            <div class="progress progress2">
                               <php>  
                                    $overplus=$projectitem['proj_amount']; 
                                    $overplus=sliceNumber($overplus);
                                </php>  
                                {$overplus} 元 
                            </div>
                            <span> 
                                可借金额：       
                            </span>
                        </div>
                        <div class="goumai">
                            <a href="{:U('detail',array('fixid'=>$projectitem[proj_id]))}" target="_blank" class="goumai_btn">立即购买</a>
                        </div> 
                    </div>
                </div>
             </volist>
            </div>
            <div class="b-page">
                {$page}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Home/js/net.js"></script>  
<include file='include/footer' />