<include file='include/header'/>
<link rel="stylesheet" href="__PUBLIC__/Home/css/net.css">
<div class="subnav">
    <ul>
        <li>您所在的位置:</li>
        <li><a href="{:U('Index/index')}">首页</a>&nbsp;></li>

        <li><span id="sortbarNameSub">投资理财</span></li>
    </ul>
</div>
<div class="mod-box">
    <div class="mod-cont">
        <div class="mod-left">
            <ul class="left-list ">
                <li class="item active" data-toggle="tab">
                    <a href="">
                        <h2 class="strong">
                            全部
                        </h2>
                    </a>
                </li>
                <li class="item" data-toggle="tab">
                    <a href="">
                        <h2 class="strong">省心宝(
                            <span class="em" data-num="6">5</span> )
                        </h2>
                        <div class="tip">稳健收益更省心</div>
                    </a>
                </li>
                <li class="item" data-toggle="tab">
                    <a href="">
                        <h2 class="strong">月月增(
                            <span class="em" data-num="3">1</span> )
                        </h2>
                        <div class="tip">收益月增更赚钱</div>
                    </a>
                </li>
                <li class="item" data-toggle="tab">
                    <a href="">
                        <h2 class="strong">灵活宝
                            <span class="icon">2.0</span>
                        </h2>
                        <div class="tip">灵活理财 从容方便</div>
                    </a>
                </li>
                <li class="item" data-toggle="tab">
                    <a href="">
                        <h2 class="strong">散标专区</h2>
                        <div class="tip">小额个贷 还款可靠</div>
                    </a>
                </li>
                <li class="item" data-toggle="tab">
                    <a href="">
                        <h2 class="strong">变现专区</h2>
                    </a>
                </li>
            </ul>
        </div>
        <div class="mod-right">
            <div class="mod-com">

            </div>
        </div>
    </div>
</div>
<include file='include/footer' />