<include file="include/header"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/regular.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/tc.css">

    <div class="tou">
    	<div></div>
    	<div><a href="javascript:;"><i class="fa fa-hand-o-up"></i>&nbsp;返回PPmoney首页</a></div>
    </div>
    

    <div class="big_pic"></div>

    <div class="fenlei">
    	<div class="prlist">
    		<div class="prlist_title">
    		   <span class="fir">180天定期宝[20170424-3]</span>
    		   <span class="sml">手动</span>
    		   <span class="sml">满减券</span>
    		   <span class="sml">加息券</span>
			</div>
			<div class="explain">
				<div class="main-rate">
					<span>8.5</span>
					<span>%</span>
					<span>预期年化收益率&nbsp;<i class="fa fa-question-circle-o"></i></span>
				</div>

				<div class="mod">
					<span class="total">30</span>
					<span class="num">天</span>
					<span class="hb">锁定期</span>
				</div>

				<div class="mod" style="margin-left: 50px;">
					<span class="total">100.00</span>
					<span class="num">万</span>
					<span class="hb">融资金额</span>
				</div>

				<div class="pro">				
					<div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">                      
                      </div>
                    </div>
                    <span>&nbsp;&nbsp;60%</span>
				</div>

				<div class="goumai">
					<a href="" target="_blank" class="goumai_btn">立即购买</a>
				</div>


			</div>
    	</div>

    	<div class="prlist">
    		<div class="prlist_title">
    		   <span class="fir">180天定期宝[20170424-3]</span>
    		   <span class="sml">手动</span>
    		   <span class="sml">满减券</span>
    		   <span class="sml">加息券</span>
			</div>
			<div class="explain">
				<div class="main-rate">
					<span>8.5</span>
					<span>%</span>
					<span>预期年化收益率&nbsp;<i class="fa fa-question-circle-o"></i></span>
				</div>

				<div class="mod">
					<span class="total">30</span>
					<span class="num">天</span>
					<span class="hb">锁定期</span>
				</div>

				<div class="mod" style="margin-left: 50px;">
					<span class="total">100.00</span>
					<span class="num">万</span>
					<span class="hb">融资金额</span>
				</div>

				<div class="pro">				
					<div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">                      
                      </div>
                    </div>
                    <span>&nbsp;&nbsp;60%</span>
				</div>

				<div class="goumai">
					<a href="" target="_blank" class="goumai_btn">立即购买</a>
				</div>


			</div>
    	</div>

    	<div class="prlist">
    		<div class="prlist_title">
    		   <span class="fir">180天定期宝[20170424-3]</span>
    		   <span class="sml">手动</span>
    		   <span class="sml">满减券</span>
    		   <span class="sml">加息券</span>
			</div>
			<div class="explain">
				<div class="main-rate">
					<span>8.5</span>
					<span>%</span>
					<span>预期年化收益率&nbsp;<i class="fa fa-question-circle-o"></i></span>
				</div>

				<div class="mod">
					<span class="total">30</span>
					<span class="num">天</span>
					<span class="hb">锁定期</span>
				</div>

				<div class="mod" style="margin-left: 50px;">
					<span class="total">100.00</span>
					<span class="num">万</span>
					<span class="hb">融资金额</span>
				</div>

				<div class="pro">				
					<div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">                      
                      </div>
                    </div>
                    <span>&nbsp;&nbsp;60%</span>
				</div>

				<div class="goumai">
					<a href="" target="_blank" class="goumai_btn">立即购买</a>
				</div>


			</div>
    	</div>
 </div>
 
 <div style="background: #F5F5F5;width: 100%;overflow: hidden;">
 <ul class="pagination regular_fenye">
 	<li>
 		<a href="#" aria-label="Previous">
 			<span aria-hidden="true">上一页</span>
 		</a>
 	</li>
 	<li><a href="#">1</a></li>
 	<li><a href="#">2</a></li>
 	<li><a href="#">3</a></li>
 	<li><a href="#">4</a></li>
 	<li>
 		<a href="#" aria-label="Next">
 			<span aria-hidden="true">下一页</span>
 		</a>
 	</li>
 </ul>
 </div>

 <div class="foow">
 	<span>粤ICP备16112898号-1</span>
 	<span>&nbsp;&nbsp;版权所有 © 深圳万惠金融服务有限公司</span>
 </div>






<include file="include/footer"/>
<script type="text/javascript" src="__PUBLIC__/Home/js/detail.js"></script>