 <include file="include/header"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/regular.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/tc.css">

   <!--  <div class="tou">
    	<div></div>
    	<div><a href="{:U('index/index')}"><i class="fa fa-hand-o-up"></i>&nbsp;返回PPmoney首页</a></div>
    </div> --> 
    <div class="big_pic"></div>

    <div class="fenlei">
    	<volist name="projlist" id="projitem">
	    	<div class="prlist">
	    		<div class="prlist_title">
	    		   <span class="fir">{$projitem['proj_lock']}天定期宝{$projitem['create_time']|date="Ymd-i",###}</span>
	    		   <!-- <span class="sml">手动</span>
	    		   <span class="sml">满减券</span>
	    		   <span class="sml">加息券</span> -->
				</div>
				<div class="explain">
					<div class="main-rate">
						<span>8.5</span>
						<span>%</span>
						<span>预期年化收益率&nbsp;<i class="fa fa-question-circle-o"></i></span>
					</div>

					<div class="mod">
						<span class="total">{$projitem.proj_lock}</span>
						<span class="num">天</span>
						<span class="hb">锁定期</span>
					</div>

					<div class="mod" style="margin-left: 50px;width: 100px;">
						<span class="total">{$projitem['proj_total']/10000|intval=###}</span>
						<span class="num">万</span>
						<span class="hb">融资金额</span>
					</div>

					<div class="pro">			
						<php> 
	                    	$progress=($projitem['proj_amount'])/($projitem['proj_total'])*100;
	                    	$progress=sprintf("%.2f",substr(sprintf("%.3f", $progress), 0, -2));
	                    </php>	
						<div class="progress">
	                      <div class="progress-bar" role="progressbar" aria-valuenow="{$progress}" aria-valuemin="0" aria-valuemax="100" style="width: {$progress}%">                      
	                      </div>
	                    </div>
	                    <span> 
	                    	{$progress}%
	                    </span>
					</div>

					<div class="goumai">
						<a href="{:U('detail',array('fixid'=>$projitem[id]))}" target="_blank" class="goumai_btn">立即购买</a>
					</div> 
				</div>
	    	</div>
    	</volist>
   
 </div>
 
 <div style="background: #F5F5F5;width: 100%;overflow: hidden;">
 <ul class="b-page ">
 	{$sPages}
 </ul>
 </div>

 <div class="foow">
 	<span>粤ICP备16112898号-1</span>
 	<span>&nbsp;&nbsp;版权所有 © 深圳万惠金融服务有限公司</span>
 </div>






<include file="include/footer"/>
<script type="text/javascript" src="__PUBLIC__/Home/js/detail.js"></script>