
<include file='include/header'/>
<link href="__PUBLIC__/Home/css/login.css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/Lib/angular.min.js"></script>


<div class="login_main" ng-app="login">
    <div class="login_box">
        <div class="login-hd">
            <h4><span class="ff-arial">登录昭昭理财</span></h4>
            <a href="{:U('User/register')}">免费注册</a>
        </div>
        <form class="login_form" name="login_form" action="{:U('user/login')}" method="post">
            <div class="login-item">
                <div class="login_err" ng-show="login_form.user_name.$dirty">
                    <span class="err" ng-show="login_form.user_name.$error.pattern||loginForm.user_name.$error.minlength" >
                    手机号码格式有误
                    </span> 
                </div> 
                
                <input type="text" placeholder="手机号" name="user_phone" class="input" ng-maxlength="13" ng-model="user.user_name"
        ng-pattern="/^1[34578]\d{9}$/" required>
            </div>
            <div class="login-item">

                <div class="login_err" ng-show="login_form.user_pwd.$dirty">
                    <span class="err" ng-show="login_form.user_pwd.$error.minlength ||loginForm.user_pwd.$error.minlength" >
                         请输入6到12位的字符
                    </span>
           
                </div> 

                <input type="password" placeholder="登录密码" name="user_pwd" ng-model="user.user_pwd" ng-minlength="6" ng-maxlength="20" required>
            </div>


            <!-- 验证码 -->
            <div class="login-item">
                <input type="text" id="verify" name="verify" placeholder="请输入验证码" />
            </div>
            <img src="{:U('User/verify')}" onclick="Refresh(this)" style="margin-bottom: 10px;" />
            <!-- 验证码end -->

            <div class="login-item"> 
                <input type="submit" value="登陆" class="login_btn" class="input" ng-disabled="login_form.user_name.$invalid||loginForm.user_pwd.$invalid">
            </div>
        </form>
        <div class="safe-box">
            <span class="safe-box-i"></span>
        </div>
    </div>

</div>

<script type="text/javascript">

    angular.module("login",[])
</script>

<include file='include/footer'/>

<script  type="text/javascript">
    /*刷新验证码*/
    function Refresh($oVali){
        $oVali.src=$oVali.src+"?"+Math.random();
    }
</script>