<include file='include/header' />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Lib/jqpwd/jqpwd.css"> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/register.css" />
	<div id="reg-content" class="container-fluid reg-content">
		<div class="row reg-box">
			<section class="reg-form">
				<form>  
					<!-- 头部 -->
					<div class="reg-header"> 
				 		<div class="reg-header-title">
				 			免费注册招财宝账户
				 		</div>
						<div class="reg-header-login">
				 			已有账号?<a href="{:U('User/login')}">登录</a>
				 		</div>
			 		</div>
					<!-- 头部 end-->
					<!-- 用户输入部分 -->
					<div class="reg-body">
						<!-- 手机号码 -->
						<div class="reg-phone">
							<div class="reg-input jq_input_rmclass clearfix ">
								<label for="reg-phone">
									<i class="fa fa-mobile-phone"></i>
								</label>
								<input type="text" name="phone" data-vali="phone" placeholder="手机号码" id="reg-phone"  />
								 <div class="check-tip none">
								 	<i class="fa fa-check-circle"></i>
								 </div>
							</div>
							<div class="reg-error none">
								 <i class="fa fa-times-circle"></i> 
								 手机号码不正确
							</div>
						</div>
						<!-- 手机号码 end-->
						<div class="reg-pwd" id="reg-pwd">
							<div class="reg-input jq_input_rmclass clearfix">
								<label for="reg-pwd-input">
									<i class="fa fa-lock"></i>
								</label>
								<input type="password" name="key" id="reg-pwd-input"
								onkeyup="pwStrength(this.value)"  data-vali="pwd" placeholder="密码"   />
							</div> 
							<div class="reg-tips clearfix"> 
								建议密码由8位以上数字、字母和特殊字符组成
							</div>
							<div class="pwd-tip none" id="pwd-tip">
								<p>安全程度:</p>
								<ul class="pass_set">
								    <li id="strength_L">弱</li>
								    <li id="strength_M">中</li>
								    <li id="strength_H">强</li>
								</ul>
							</div>   
							<!-- 错误提示信息 -->
							<div class="reg-error none" id="pwd-error">
								<i class="fa fa-times-circle"></i> 
								密码长度须在8~20位之间
							</div>
							<!-- 错误提示信息end -->
						</div> 
						<!-- 滑动插件 -->
						<div class="reg-pulg-in">
							<div id="slider">
							    <div class="vali-img none">
							    	<h6 class="none">验证成功</h6>
							        <div id="vali-big-img">
							             <img src="12" alt="">
							        </div> 
							        <!-- 固定的 -->
							        <div id="squre" class="squre">  
							        </div> 
							         <!-- 移动的 -->
							         <div id="squretwo" class="squre"> 
							               <img src="12" alt="">
							        </div>
							    </div> 
							    <span id="label">
							    	 
							    </span> 
								<span id="labelTip">按住左边滑块，拖动完成上方拼图</span> 
							</div> 
							<span class="plug-check-box">
								<i class="fa fa-lock" ></i>
							</span>
						</div>
						<!-- 滑动插件end -->
						<!-- 点击显示推荐的手机号 -->
						<div class="reg-slide-phone"> 
							<a href="javascript:;">
								<i class="fa fa-caret-right"></i> 
								推荐人手机号码（选填）
							</a>
						</div>
						 <div id="recommend" class="none">
							<div class="reg-input  jq_input_rmclass clearfix reg-phone-two">
								<label for="reg-phonetwo">
									<i class="fa fa-thumbs-o-up "></i>
								</label>
								<input type="text" data-vali="phone" placeholder="推荐人手机号码(选填)" id="reg-phonetwo">

							</div>
							<!-- 错误提示信息 -->
							<div class="reg-error none"> 
								<i class="fa fa-times-circle"></i> 
								手机号码不正确
							</div>
							<!-- 错误提示信息end -->
						</div>
						<!-- 点击显示推荐的手机号end -->
						
					</div> 
					<!-- 用户输入部分end -->
					<div class="reg-footer">
						<!-- 验证码 -->
						<div class="vali-code"> 
							 <p> 
							 	<img src="{:U('User/verify')}" onclick="Refresh(this)" />
							 </p> 
							 <input type="text" id="verify" name="verify" placeholder="请输入验证码" />
							 
						</div>
						<!-- 验证码end -->
						<div class="reg-term">
							<input type="checkbox" name="deal" checked="checked">
							<span>我已经阅读并同意</span>
							<a href="javascript:;" id="clause">《服务条款协议》</a>
						</div>
						<div class="reg-submit">
							<button type="submit" id="reg_submit" >确认</button>
						</div>
					</div>
				</form>
			 </section> 
			 <!-- 底部提示 默认隐藏-->
			 <div id="reg-bottom">
		 			<div class="guarantee">
		 		 
		 			</div>
			  </div>
			 <!-- 底部提示end -->
		 </div>
		 <div id="clause-box" class="none">
			<h5 class="pull-left">注册条款</h5>
			<p class="pull-right" id="click_close">
				<i class="fa fa-times"></i>
			</p>
		 	<div class="clause-txt">
		 		
		 	</div>
		 </div>
	</div> 


<include file='include/footer' />
<script type="text/javascript" src="__PUBLIC__/Lib/jqpwd/jqpwd.js"></script>
<script type="text/javascript" src="__PUBLIC__/Lib/jq-vali/jquery.slideunlock.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/register.js"></script>