<include file='include/header' />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/register.css" />
<script type="text/javascript" src="__PUBLIC__/Lib/angular.min.js"></script>

	<div id="reg-content" class="container-fluid reg-content">
		<div class="row reg-box">
			<section class="reg-form">
				<!-- 头部 -->
				<div class="reg-header">
					<div class="reg-header-login">
						已有账号?<a href="{:U('User/login')}">登录</a>
					</div>
					<ul class="nav nav_tit">
						<li class="active phone_ajax"><a href="#form_phone" data-toggle="tab" class="reg-header-title">手机注册</a></li>
						<li class="email_ajax"><a href="#form_email" data-toggle="tab" class="reg-header-title">邮箱注册</a></li>
					</ul>
				</div>
				<!-- 头部 end-->
				<div class="tab-content">
					<form action="{:U('User/register_phone')}" class="tab-pane fade in active" id="form_phone" method="post">
						<!-- 用户输入部分 -->
						<div class="reg-body">
							<!-- 手机号码 -->
							<div class="reg-phone">
								<div class="reg-input jq_input_rmclass clearfix ">
									<label for="reg-phone">
										<i class="fa fa-mobile-phone"></i>
									</label>
									<input type="text" name="user_phone" data-vali="phone" placeholder="手机号码" id="reg-phone"  />
									<span></span>
									<div class="check-tip none">
										<i class="fa fa-check-circle"></i>
									</div>
								</div>
								<div class="reg-error none">
									<i class="fa fa-times-circle"></i>
									手机号码不正确
								</div>
							</div>
							<!-- 手机号码 end-->
							<div class="reg-pwd" id="reg-pwd">
								<div class="reg-input jq_input_rmclass clearfix">
									<label for="reg-pwd-input">
										<i class="fa fa-lock"></i>
									</label>
									<input type="password" name="user_pwd" class="user_pwd" id="reg-pwd-input" onkeyup="pwStrength(this.value)"  data-vali="pwd" placeholder="密码"   />
									<span></span>
								</div>
								<!-- 错误提示信息 -->
								<div class="reg-error none" id="pwd-error">
									<i class="fa fa-times-circle"></i>
									密码长度须在5~16位之间
								</div>
								<!-- 错误提示信息end -->
								<!--再次密码-->
								<div class="reg-input jq_input_rmclass clearfix">
									<label for="reg-pwd-input">
										<i class="fa fa-lock"></i>
									</label>
									<input type="password" name="repassword" id="reg-pwd-input" data-vali="pwd" placeholder="再次输入密码"   />
									<span></span>
								</div>
							</div>

						</div>
						<!-- 用户输入部分end -->
						<div class="reg-footer">
							<!-- 验证码 -->
							<div class="vali-code">
								<p>
									<img class="phone_img_ajax" src="{:U('User/verify')}" onclick="Refresh(this)" />
									<input type="hidden" class="ajax_input" value="{:U('User/verify')}">
								</p>
								<input type="text" id="verify_phone" name="verify" placeholder="请输入验证码" />
								<span class="verify_ts verify_ts1"></span>
							</div>
							<!-- 验证码end -->
							<div class="reg-term">
								<input type="checkbox" name="deal">
								<span>我已经阅读并同意</span>
								<a href="javascript:;" id="clause">《服务条款协议》</a>
							</div>
							<div class="reg-submit">
								<button type="submit" id="reg_submit" class="reg_submit1" disabled="">注册</button>
							</div>
						</div>
					</form>
					<form action="{:U('User/register_email')}" class="tab-pane fade" id="form_email" method="post">
						<!-- 用户输入部分 -->
						<div class="reg-body">
							<!-- 邮箱-->
							<div class="reg-phone">
								<div class="reg-input jq_input_rmclass clearfix ">
									<label for="reg-phone">
										<i class="fa fa-mobile-phone"></i>
									</label>
									<input type="email" name="user_email" data-vali="email" placeholder="邮箱" id="reg-phone"  />
									<span></span>
									<div class="check-tip none">
										<i class="fa fa-check-circle"></i>
									</div>
								</div>
							</div>
							<!-- 邮箱 end-->
							<div class="reg-pwd" id="reg-pwd">
								<div class="reg-input jq_input_rmclass clearfix">
									<label for="reg-pwd-input">
										<i class="fa fa-lock"></i>
									</label>
									<input type="password" name="user_pwd" class="user_pwd" id="reg-pwd-input" onkeyup="pwStrength(this.value)"  data-vali="pwd" placeholder="密码"   />
									<span></span>
								</div>
								<!-- 错误提示信息 -->
								<div class="reg-error none" id="pwd-error">
									<i class="fa fa-times-circle"></i>
									密码长度须在5~20位之间
								</div>
								<!-- 错误提示信息end -->
								<div class="reg-input jq_input_rmclass clearfix">
									<label for="reg-pwd-input">
										<i class="fa fa-lock"></i>
									</label>
									<input type="password" name="repassword" id="reg-pwd-input" data-vali="pwd" placeholder="再次输入密码"   />
									<span></span>
								</div>
							</div>

						</div>
						<!-- 用户输入部分end -->
						<div class="reg-footer">
							<!-- 验证码 -->
							<div class="vali-code">
								<p>
									<img class="email_img_ajax" src="{:U('User/verify')}" onclick="Refresh(this)" />
								</p>
								<input type="text" id="verify_email" name="verify" placeholder="请输入验证码" />
								<span class="verify_ts verify_ts2"></span>
							</div>
							<!-- 验证码end -->
							<div class="reg-term2 reg-term">
								<input type="checkbox" name="deal">
								<span>我已经阅读并同意</span>
								<a href="javascript:;" id="clause">《服务条款协议》</a>
							</div>
							<div class="reg-submit">
								<button type="submit" id="reg_submit" class="reg_submit2" disabled="">注册</button>
							</div>
						</div>
					</form>
				</div>
			 </section> 
			 <!-- 底部提示 默认隐藏-->
			 <div id="reg-bottom">
		 			<div class="guarantee">
		 		 
		 			</div>
			  </div>
			 <!-- 底部提示end -->
		 </div>
		 <div id="clause-box" class="none">
			<h5 class="pull-left">注册条款</h5>
			<p class="pull-right" id="click_close">
				<i class="fa fa-times"></i>
			</p>
		 	<div class="clause-txt"> 
		 	</div>
		 </div>
	</div> 


<include file='include/footer' /> 
 
<script type="text/javascript" src="__PUBLIC__/Home/js/register.js"></script>
<script  type="text/javascript">
	/*刷新验证码*/
	function Refresh($oVali){
		$oVali.src=$oVali.src+"?"+Math.random();
	}
//	点击选项卡标题刷新验证码
	$('.phone_ajax').click(function () {
		var ajax_input=$('.ajax_input').val();
		$('.phone_img_ajax').attr('src',ajax_input+"?"+Math.random());
	})
	$('.email_ajax').click(function () {
		var ajax_input=$('.ajax_input').val();
		$('.email_img_ajax').attr('src',ajax_input+"?"+Math.random());
	})
//	ajax检测验证码
	$('#verify_phone').bind('input propertychange',function () {
		var verify_ajax=$(this).val();
		$.post("{:U('user/verify_ajax')}",{verify_ajax},function(data){
			$('.verify_ts1').html(data.massage);
		})
	})
	$('#verify_email').bind('input propertychange',function () {
		var verify_ajax=$(this).val();
		$.post("{:U('user/verify_ajax')}",{verify_ajax},function(data){
			$('.verify_ts2').html(data.massage);
		})
	})
	//ajax验证用户输入的信息
function I_change(parent_ele,element_change,url){
	element_change.on('change',function () {
		var user_val=$(this).val();
		var name=$(this).attr('name')
		var user_pwd=parent_ele.find('.user_pwd').val();
		var dangqian=$(this);
		$.post(url,{name,user_val,user_pwd}, function (data) {
			dangqian.next('span').html(data.massage);
//			dangqian.next('span').html(data);
		})
	})
}
	var parent_ele=$('#form_phone');
	var element_change=$('#form_phone input');
	var url="{:U('user/register_phone_ajax')}";
	I_change(parent_ele,element_change,url);

	var parent_ele2=$('#form_email');
	var element_change2=$('#form_email input');
	var url2="{:U('user/register_email_ajax')}";
	I_change(parent_ele2,element_change2,url2);
</script>