<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台自动更新</title>
    <script rel="stylesheet" src="__PUBLIC__/Lib/jquery-1.9.1.min.js"></script>
</head>
<body>
<div style="width: 500px;overflow: hidden;margin: 50px auto;text-align: center">
    <h2>后台自动更新个人基金收益</h2>
    <p><a style="color:#fff;background: red;padding: 5px 10px;border-radius: 5px;cursor: pointer;" class="update">马上更新后台</a></p>
    <p class="time"></p>
    <p class="time2"></p>
</div>
<script>
setInterval(function () {
    run();
},10000)
$('.update').click(function () {
    run();
})
function run() {
    $.get('{:U('autorun/ajax_reguler')}',function(data){
        $('.time').html('投资者：'+data['time']);
    });
    $.get('{:U('autorun/delete_reguler')}',function(data){
    });
    $.get('{:U('autorun/ajax_netloan')}',function(data){
        $('.time2').html('借款人：'+data['time']);
    });
    $.get('{:U('autorun/delete_netloan')}',function(data){
    });
}
</script>
</body>
</html>