 
<!DOCTYPE html>
<html lang="zh-CN">
<head> 
    <meta charset="utf-8">
    <title>昭昭理财</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Lib/bootsrapv3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/reset.css">
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/Home/css/base.css?1">
    <script rel="stylesheet" src="__PUBLIC__/Lib/jquery-1.9.1.min.js"></script> 
    <meta name="description"
    content="本平台或PPmoney理财平台,PPmoney理财平台用户提供服务。
            欢迎注册成为PPmoney理财平台会员，使用PPmoney理财平台为您提供的会员服务">
    <meta name="keywords" content="招财宝,理财,存钱,投资,基金,投资理财,基金投资,银行存管">

</head>
<body>
<div class="header_top">
<div class="container none_padding">
    <div class="header_top_left">
        <i class="fa fa-phone i_icon"></i>
        <span>服务热线：<b>10101212</b>（人工 9:00～22:00）</span>
    </div>
    <div class="header_top_right">
        <if condition="$Think.session.user neq ''">
            <a class="portrait"><img src="__PUBLIC__{$Think.session.user.user_portrait}"></a>
            <if condition="$Think.session.user.user_name neq '' ">
                <a>欢迎，{$Think.session.user.user_name}</a>
                <elseif condition="$Think.session.user.user_email neq '' " />
                <a>欢迎，{$Think.session.user.user_email}</a>
                <else />
                <a>欢迎，{$Think.session.user.user_phone}</a>
                <!--<a>欢迎，<?=substr_replace(session(user)[user_phone],"*****",3,6)?></a>-->
            </if>
            <span>|</span>
            <a  href="{:U('User/SignOut')}" class="login">退出</a>
        <else />
        <a  href="{:U('User/login')}" class="login">登录</a>
        <span>|</span>
        <a  href="{:U('User/register')}" class="register">注册</a>
        </if>
        <span>|</span>
        <a class="recharge" href="{:U('personal/recharge')}">充值</a>
        <span>|</span>
        <a href="{:U('Help/helpcenter')}" class="help">帮助中心</a>
        <span>|</span>
        <a class="phone"><span class="fa fa-mobile-phone"></span>手机APP</a>
        <a class="weibo"><i class="fa fa-weibo i_icon"></i></a>
        <a class="weixin"><i class="fa fa-weixin i_icon"></i></a>
    </div>
</div>
</div>
<div class="header_bottom">
    <div class="fixe_nav">
        <div class="container none_padding">
            <div class="logo clearfix">
                <div class="logo_box">
                    <a href="{:U('Index/index')}">
                        <img src="__PUBLIC__/Home/imgs/logo.png">
                    </a>
                </div> 
                <div class="link_user">
                    <a href="{:U('personal/index')}">我的账户</a>
                </div>
            </div> 
        </div>
        <nav class="clearfix">
             <ul class="nav_title clearfix">
                <li class="<php>is_active(CONTROLLER_NAME,'Index')</php>" hover="1">
                    <a href="{:U('Index/index')}">首页</a>
                </li>
                <li hover="1" class="<php>is_active(CONTROLLER_NAME,'Netloan')</php>">
                    <a href="{:U('Netloan/net')}">网贷理财</a>
                </li>
                 <li hover="1" class="<php>is_active(CONTROLLER_NAME,'Regular')</php>">
                     <a href="{:U('Regular/regular')}">投资理财</a>
                 </li>
                <li class="<php>is_active(CONTROLLER_NAME,'Fund')</php>" hover="1">
                    <a href="{:U('Fund/fundmain')}"> 基金超市</a>
                </li>
                 <li class="<php>is_active(CONTROLLER_NAME,'Message')</php>" hover="1">
                     <a href="{:U('Message/information')}">信息披露</a>
                 </li> 
            </ul>
        </nav>
    </div>
</div>
