/******头部*********/ 
body{ 
    background-color: #F4F4F4; 
    font-size: 16px; 
    font:"Helvetica Neue",Helvetica,Arial,sans-serif; 
}
.fr{
    float: right!important;
}
.fl{
    float:left!important;
}
a{ 
    color:#333;
    cursor: pointer; 
}
a:hover{
    color: #1194d3; 
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.none_padding{
    padding:0px;
    z-index: 16;
}
.i_icon{
    color: #fff;
    background-color:#0f91dd;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    border-radius:10px;
}
.header_top{
    width: 100%;
    height: 35px;
    margin-top: 5px;
    line-height:35px;
    border-bottom: 1px solid #e6e6e6;
}
.header_top_left{
    float: left;
}
.header_top_left span,.header_top_left b{
    color: #666;
}


.header_top_right{
    float: right;
}
.header_top_right .portrait{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin: 0px;
}
.header_top_right .portrait img{
    width: 30px;
    margin-top: -5px;
}
.header_top_right>a{
    margin: 0px 8px;
}
.header_top_right>span{
    color:#e4e4e4;
}
.header_top_right .login{
    color: #414141;
}
.header_top_right .register{
    color: #414141;
}
.header_top_right .recharge{
    color: #778493;
}
.header_top_right .help{
    color: #778493;
}
.header_top_right .recruit{
    color: #fe4850;
}
.header_top_right a:hover{
    color: #1194d3;
}
.header_top_right .recruit .hot{
    margin: 0px 1px;
    width:23px;
    height: 16px;
    display: inline-block;
    background:url("/public/Home/imgs/hot.png") no-repeat;
}
.header_top_right .recruit:hover .hot{
    background-position:0px -16px;
}
.header_top_right .phone{
    color:#0f91dd;
    border:1px solid #0f91dd;
    border-radius:3px;
    padding: 5px 10px;
}
.header_top_right .phone span{
    font-size: 18px;
    margin-right: 2px;
    color:#0f91dd;
}
.header_top_right .phone:hover{
    color:#45b8ef;
    border:1px solid #45b8ef;
}
.header_top_right .phone:hover span{
    color:#45b8ef;
}
.header_top_right a:hover i{
    background-color:#45b8ef;
}
.header_top_right .weixin,.header_top_right .weibo{
    margin-left: 0px;
}
.header_bottom{
    
}
.header_bottom .fixe_nav{
    width: 100%; 
    background: rgba(255,255,255,0.8);
    z-index: 199;
}
.header_bottom .logo{ 
   height: 98px;
   line-height: 98px;
}
.header_bottom .logo .logo_box{
     float: left;
}
 
 
.header_bottom .logo .link_user{
    float: right; 
}
.header_bottom .logo .link_user a{
     border: 1px solid #ccc;
     padding: 10px 30px;
     font-size: 14px;
}
/*头部导航*/
nav{
     background-color: rgba(1,142,237,.9);
     width: 100%;
}
nav .nav_title{
    clear: both; 
    width: 1170px;
    margin: 0 auto;
   
}
nav .nav_title li{
    float: left; 
    height: 48px; 
    line-height: 48px;
}
nav .nav_title li a{ 
    color: #fff;
    display: block;
    padding: 0 40px;
    font-size: 14px;
}
nav .nav_title li:hover{
    background-color: #0078DD;
}
nav .nav_title li.active{
    background-color: #0078DD;
    
}
/******头部完*********/

/******脚部*********/
.footer{
    background:#fff;
    overflow: hidden;
    padding-top: 50px;
}
.footer .hr{
    width: 1px;
    height: 130px;
    background: #dedede;
    display: inline-block;
}
.footer_left i{
    float: left;
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url("/public/Home/imgs/footer01.png");
}
.footer_left .i2{
    background-position-x:-21px;
}
.footer_left .i3{
    background-position-x:-42px;
}
.footer_left .i4{
    background-position-x:-63px;
}
.footer_left dl{
    float: left;
    width: 90px;
}
.footer_left dt a{
    line-height: 28px;
    width: 90px;
    font-size: 13px;
    color: #abb2ba;
    display: inline-block;
    text-align: center;
}
.footer_left dt:nth-child(1) a{
    font-size: 15px;
    font-weight: 700;
    color: #333;
}
.footer_left a:hover{
    color: #1194d3 !important;
}
.footer_md{
    position: relative;
}
.footer_md .hr1{
    position: absolute;
    top: 0px;
    left: 0px;
}
.footer_md>div{
    float: left;
    overflow: hidden;
    margin-left: 32px;
}
.footer_md .img{
    width: 96px;
    height: 96px;
    background: url("/public/Home/imgs/footer02.jpg");
}
.footer_md .img2{
    background-position-x:-96px;
}
.footer_md p{
    margin-top: 5px;
    color: #abb2ba;
    text-align: center;
}
.footer_right{
    position:relative;
}
.footer_right .hr2{
    position: absolute;
    top: 0px;
    left: 0px;
}
.footer_right>li{
    width: 100%;
    text-align: right;
    height: 30px;
    line-height: 30px;
}
.footer_right .hot,.footer_right .hot span{
    letter-spacing: 1px;
    color: #abb2ba;
    font-size: 24px;
}
.footer_right .hot span{
    color: #1095e2;
    font-weight: 700;
}
.footer_right .people{
    letter-spacing: 1px;
    color: #abb2ba;
    font-size: 14px;
}
.footer_right .day{
    font-size: 14px;
    color: #0f95e3;
}
.footer_right .day i{
    font-size: 14px;
    color: #0f95e3;
}
.footer_f2>div{
    margin:30px 0px;
    text-align: center;
}
.footer_f2 a{
    margin: 0px 15px;
}
.footer_f2 p{
    text-align: center;
    color: #abb2ba;
    margin: 10px 0px;
}
.footer_f3{
    background: #e5e5e5;
    line-height: 35px;
    height:35px;
}
.footer_f3 span,.footer_f3 a{
    color: #abb2ba;
    font-size: 14px;
}
.footer_f3 a{
    margin-right: 20px;
}
/******脚部完*********/

/*分页*/
.b-page {
    background:#fff;
    box-shadow:0 1px 2px 0 #e2e2e2;
}
.b-page .page {
    width:100%;
    padding:30px 15px;
    background:#fff;
    text-align:center;
    overflow:hidden;
}
.b-page .page .first,.b-page .page .prev,.b-page .page .current,.b-page .page .num,.b-page .page .current,.b-page .page .next,.b-page .page .end {
    padding:8px 16px;
    margin:0 5px;
    display:inline-block;
    color:#008cba;
    border:1px solid #f2f2f2;
    border-radius:5px;
}
.b-page .page .first:hover,.b-page .page .prev:hover,.b-page .page .current:hover,.b-page .page .num:hover,.b-page .page .current:hover,.b-page .page .next:hover,.b-page .page .end:hover {
    text-decoration:none;
    background:#51AFFF;
    color: #fff;
}
.b-page .page .current {
    background-color:#51AFFF;
    color:#fff;
    border-radius:5px;
    border:1px solid #51AFFF;
}
.b-page .page .current:hover {
    text-decoration:none;
    background:#51AFFF;
}