
 #super_content{
 	clear: both;
 	margin-top: 50px!important;
 	width: 1170px;
 	margin: 0 auto;
 } 	 
.right-margin{
	margin:0 16px 20px 0!important;
}
.super-title{
 	height: 60px; 
}
.super-title span{ 
	height: 14px;
	line-height: 65px;
}
.super-title-left{
 	float: left;
}
.super-title-left h3{
	font-size: 22px;
	font-weight: bold;
	float: left;
}
.super-title-left span{
	margin: 0 10px; 
	color: #9C9C9C;
} 
.super-title-left a,
.super-title-right a{
	font-size: 14px;
	color: #51AFFF;
}
.super-title-left a:hover,
.super-title-right a:hover{
	color:#1194D3;
}
.super-title-right {
	float: right;
	font-size: 14px;
}
.super-title-right span{
	color: #333333; 
}
.super-main{
	clear: both;
}
.super-main .super-list{
	 
}
.super-main .super-list>div{
	margin: 0 auto;
}
.super-main .super-list .super-item{ 
	text-align: center;
	padding: 10px 10px 25px;
	width: 276px;
	border: 1px solid #E5E5E5;
	border-bottom: 5px solid #fff;
	background-color: #fff; 
	transition: box-shadow .3s,border-bottom .3s,transform .3s; 
	float: left; 
}
.super-main .super-list .super-item:hover{
	box-shadow: 2px 2px 5px #C3C3C3;
	-moz-box-shadow:2px 2px 5px #C3C3C3;
	border-bottom: 5px solid #51AFFF;
	transform: translate(1px,2px);
}
.super-main .super-list .super-item .super-item-tip{
	height: 40px;
	position: relative;
}
.super-main .super-list .super-item .super-item-tip span{
	display: block;
    text-align: center;
    width: 50px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    background-color: #51AFFF;
    color: #fff;
}
.super-main .super-list .super-item .super-item-title p{
	font-size: 18px;
	color: #333333;
}
.super-main .super-list .super-item .super-item-title span{
	line-height: 35px;
	color: #666666;
}
.super-main .super-list .super-item p.line{
	width: 60px;
	height: 1px;
	margin: 10px auto;
	background-color: #666666;
}
.super-main .super-list .super-item .super-item-per{
	margin: 40px auto 20px;
	
}
.super-main .super-list .super-item .super-item-per span{
	font-size: 50px;
	color: #F74D3E;
}
.super-main .super-list .super-item .super-item-per small{
	color: #F74D3E;
	font-size: 15px;
	margin-left: -15px;
}
.super-main .super-list .super-item .super-item-per p{
	color: #818181;
	font-size: 14px;
	margin-top: -12px;
}
.super-main .super-list .super-item  .super-item-recent{
	height: 50px;
	line-height: 50px;
}
.super-main .super-list .super-item  .super-item-recent span{
	color: #6F6F6F;
}
.super-main .super-list .super-item .super-item-btn{
	width: 112px;
	height: 38px;
	line-height: 38px;
	margin: 0 auto;
}
.super-main .super-list .super-item .super-item-btn a{
	display: block;
	border-radius: 3px; 
	height: 100%;
	color: #fff;
	background-color: #51AFFF;
}
.super-main .super-list .super-item .super-item-btn a:hover{
	background-color: #1E98FF;
}