.top-line{
	border-top: 3px solid #51AFFF;
}


/*基金列表界面*/
.super-title .super-title-left{
	padding-left: 50px;	
	color: #797979;
}
.super-title .super-title-left h2{
	float: left;
}
.super-title .super-title-left ul.super-select-box{
	float: left;
	margin-left: 30px;
	line-height: 75px;
}
.super-title .super-title-left .super-select-box li{
	float: left;
	margin-right: 12px;
}
.super-title .super-title-left .super-select-box li a{
	 padding: 6px 14px;
	 border: 1px solid #DBDBDB;
	 border-radius: 3px;	
	 transition: .5s background-color,.5s color,.5s border-color;
	 transition-delay: .1s;
}

.super-title .super-title-left .super-select-box li a.active,
.super-title .super-title-left .super-select-box li a:hover{
	background-color: #51AFFF;
	color: #fff;
	border-color: #51AFFF;
}
/*大图片*/
.super-pic-box{
	height: 438px;
	position: relative;
}
.super-pic-box >a{
	display: block;
	width: 100%;
	height: 100%;
	background:url("../imgs/banner01.jpg") no-repeat -300px 0;
	-webkit-background-size: cover;
	background-size: cover; 
}
.super-pic-box .super-reg{
	position: absolute;
	right: 95px;
	top: 30px;
	width: 280px; 
	padding: 20px 0;
	background-color: rgba(255,255,255,.7);
	text-align: center;
}
.super-pic-box .super-reg h4{
	font-weight: 600;
	height: 25px;
}
.super-pic-box .super-reg >p{
	color: #9C9C9C;
	font-size: 14px;
}
.super-pic-box .super-bg{
	width: 243px;
	height: 170px; 
	background: url("../imgs/super_reg.png") no-repeat center 20px;
}
.super-pic-box .link-reg{
	width: 180px;
	margin: 10px auto;
}
.super-pic-box .link-reg a{ 
	height: 45px; 
	display: block;
	line-height: 30px;
	border-radius: 20px;
}
.super-pic-box .super-footer{
	line-height: 30px;
	height: 30px;
	font-size: 14px;
}
.super-pic-box .super-footer a{
	color: #51AFFF;
}
.super-pic-box .super-footer a:hover{
	color: #1194D3;
}
/*内容*/
#super_content{
 	clear: both;
 	margin-top: 50px!important;
 	width: 1170px;
 	margin: 0 auto;
 } 	 
.right-margin{
	margin-right:16px!important;
}
.super-title{
 	height: 60px; 
}
.super-title span{ 
	height: 14px;
	line-height: 80px;
}
.super-title-left{
 	float: left;
}
.super-title-left h3{
	font-size: 22px;
	font-weight: bold;
	float: left;
}
.super-title-left span{
	margin: 0 10px; 
	color: #9C9C9C;
} 
.super-title-left a,
.super-title-right a{
	font-size: 14px;
	color: #51AFFF;
}
.super-title-left a:hover,
.super-title-right a:hover{
	color:#1194D3;
}
.super-title-right {
	float: right;
	font-size: 14px;
}
.super-title-right span{
	color: #333333; 
}
.super-main{
	clear: both;
}
.super-main .super-list{
	 
}
.super-main .super-list>div{
	margin: 0 auto;
}
.super-main .super-list .super-item{ 
	text-align: center;
	padding: 10px 10px 25px;
	width: 276px;
	height: 404px;
	margin-bottom: 20px;
	border: 1px solid #E5E5E5;
	border-bottom: 5px solid #fff;
	background-color: #fff; 
	transition: box-shadow .5s,border-bottom .5s,transform .5s; 
	float: left; 
}
.super-main .super-list .super-item:hover{
	box-shadow: 2px 2px 5px #C3C3C3;
	-moz-box-shadow:2px 2px 5px #C3C3C3;
	border-bottom: 5px solid #51AFFF;
	transform: translate(1px,2px);
}
.super-main .super-list .super-item .super-item-tip{
	height: 40px;
	position: relative;
}
.super-main .super-list .super-item .super-item-tip span{
	display: block;
    text-align: center;
    width: 50px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px; 
    color: #fff;
}
.super-main .super-list .super-item .super-item-title p{
	font-size: 18px;
	height: 50px;
	line-height: 25px;
	overflow: hidden;
	color: #333333;
}
.super-main .super-list .super-item .super-item-title span{
	line-height: 35px;
	height: 35px;
	font-size: 14px;
	overflow: hidden;
	color: #666666;
}
.super-main .super-list .super-item p.line{
	width: 60px;
	height: 1px;
	margin: 10px auto;
	background-color: #666666;
}
.super-main .super-list .super-item .super-item-per{
	margin: 30px auto 20px; 
}

.super-main .super-list .super-item .super-item-per span{
	font-size: 50px;
	color: #F74D3E;
}
 
.super-main .super-list .super-item .super-item-per .ColorGreen{
	color: #55BF5A;
}
.super-main .super-list .super-item .super-item-per small{
	color: #F74D3E;
	font-size: 15px;
	margin-left: -15px;
}
.super-main .super-list .super-item .super-item-per p{
	color: #818181;
	font-size: 14px;
	margin-top: -12px;
}
.super-main .super-list .super-item  .super-item-recent{
	height: 50px;
	line-height: 50px;
}
.super-main .super-list .super-item  .super-item-recent span{
	color: #6F6F6F;
}
.super-main .super-list .super-item .super-item-btn{
	width: 112px;
	height: 38px;
	line-height: 38px;
	margin: 0 auto;
}
.super-main .super-list .super-item .super-item-btn a{
	display: block;
	border-radius: 3px; 
	height: 100%;
	color: #fff;
	background-color: #3EA5FF;
}
.super-main .super-list .super-item .super-item-btn a:hover{
	background-color: #1E98FF;
}


/*每一项右上角的icon颜色*/
.yellow{
	background-color: #F0AD4E;
}
.green{
	background-color: #617BE8;
}
.bohe{
	background-color: #33CD31;
}
.red{
	background-color: #F75646;
}
.default{
	background-color: #51AFFF!important;
}
.licai{
	background-color: #C900FF;
}