/*公共样式*/
body{
    font-size: 16px;
}
.banner{
    position: relative;
    height: 381px;
    max-width: 100%;
}
.banner-img{
    width: 100%;
    height: 382px;
    overflow: hidden;
}
.banner .banner-list{
    position: relative;
    width: 100%;
    height: 382px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.banner .banner-list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    float: left;
    left: 0;
    top: 0;
}

.banner .banner-box{
    position: absolute;
    top: 38px;
    right: 100px;
    z-index: 99;
    width: 320px;
    height: 310px;
    padding: 40px 25px;
    background-color: rgba(0,0,0,.5);
}
.banner-box .banner-box-hd
{
    color: #fff;
    text-align: center;
}
.banner-box .banner-box-hd p{
    margin: 20px auto;
}
.banner-box .banner-box-hd .sum
{
    font-size: 18px;
    color: #fc8026;
}
.banner-box .banner-box-bd{
    text-align: center; 
    color: #9fabb9;
    margin-top: 20px;
}
.banner-box .banner-box-bd .btn-reg{
    width: 90%;
    height: 42px;
    padding: 12px 0;
    color: #fff;
    background: #fc8026;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 10px auto;
    border-radius: 4px;
}
.banner-box .banner-box-bd .tips{
    font-size: 12px;
    margin-top: 25px;
}
.banner-box .banner-box-bd .tips .link{
    margin-left: 10px;
    color: #fff;
    text-decoration: underline;
}
.session{
    background: #fff;
}
.data-warp{
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
}
.data-warp .data{
    position: relative;
    width: 1170px;
    margin: 0 auto;
    padding: 10px 0;
}
.data-warp .data .data-list{
    display: inline-block;
    list-style: none;
    position: relative;
    width: 95%;
}
.data-warp .data .data-list>li{
    float: left;
    padding-left: 20px; 
    width: 25%;
    padding: 0 13px;
    text-align: center;
}
.data-warp .data .data-list li>span{
    vertical-align: middle;
    font-size: 14px;
    color: #9fabb9;
}

.data-warp .data .data-list li label{
    vertical-align: middle;
    font-size: 20px;
    font-weight: 400;
    color: #ff7301;
    line-height: 25px;
    display: block;
}
.data-warp .data cite{ 
    float: right;
    text-align: right;
    width: 45px;
    height: 45px;
    line-height: 45px; 
}
.data-warp .data .data-btn { 
    color: #a0a0a0;
    font-size: 12px;
    font-style: normal;
    text-align: center;
}
.notice-warp .notice{
    position: relative;
    width: 1170px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
}
.notice-warp .notice .notice-list{
    margin-left: 68px;
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.notice-warp .notice .notice-list .item{
    float: left;
    position: relative;
    width: 25%;
    padding-left: 40px;
}

.notice-warp .notice .notice-list .item .imgs{
    width: 87px;
    height: 87px;
}
.notice-warp .notice .notice-list .item .text{
    margin-top: -75px;
    margin-left:95px;
}
.notice-warp .notice .notice-list .item .notice-img01{
    background: url("../imgs/notice.png") no-repeat;
    background-position: -1px -15px!important;
}
.notice-warp .notice .notice-list .item .notice-img01:hover{
    background: url("../imgs/notice.png") no-repeat;
    background-position: -1px -19px!important;
}
.notice-warp .notice .notice-list .item .notice-img02{
    background: url("../imgs/notice.png") no-repeat;
    background-position: -114px -15px!important;
}
.notice-warp .notice .notice-list .item .notice-img02:hover{
    background: url("../imgs/notice.png") no-repeat;
    background-position: -114px -19px!important;
}
.notice-warp .notice .notice-list .item .notice-img03{
    background: url("../imgs/notice.png") no-repeat;
    background-position: -224px -15px!important;
}
.notice-warp .notice .notice-list .item .notice-img03:hover{
    background: url("../imgs/notice.png") no-repeat;
    background-position: -224px -19px!important;
}
.notice-warp .notice .notice-list .item .notice-img04{
    background: url("../imgs/notice.png") no-repeat;
    background-position: -336px -15px!important;
}
.notice-warp .notice .notice-list .item .notice-img04:hover{
    background: url("../imgs/notice.png") no-repeat;
    background-position: -336px -19px!important;
}
.notice-warp .notice .notice-list .item .text h3{
    font-weight: 100;
    color: #444;
    margin-bottom: 10px;
}
.notice-warp .notice .notice-list .item .text span{
    color: #999;
    font-size: 14px;
}


/*首页底部新闻*/
 

.left-border{
    border-left: 1px solid #E6E6E6;
}
.padding{
    padding: 20px;
}
.margin_b{
    margin-bottom: 30px;
}
.margin_b h5{ 
    font-size: 18px;
}
.margin_b a{
    color: #333;
}
.margin_b a:hover{
    color: #45b8ef;
    text-decoration: none;
}
.news_position{
    position: relative;

}
.more_a_position{
    position: absolute;
    bottom: 30px;
    left: 55%;
}
.more_a{
    color: #00a0e9 !important;
    font-size: 12px;

}
.date-color a{
    width: 75%;
}
.date-color a:hover,
.detail-text a:hover{
    color: #1194D3;
}
 
.date-color span{
    color: #ccc;
    width: 25%;
    text-align: right;
}
.page-col-1{
    width: 0%;
}
.page-col-2{
    width: 20%;
}
.page-col-3{
    width: 30%;
}
.page-col-5{
    width: 50%;
}
.page-col-4{
    width: 40%;
}
.page-col-6{
    width: 60%;
}
.page-col-7{
    width: 70%;
}
.page-col-8{
    width: 80%;
}
.page-col-9{
    width: 90%;
}
.page-col-10{
    width: 100%;
}
/*index*/

 
#title li{
    margin-right: 10px;
}
.title>a{
    font-weight:bold;
}
.title_out>a{
    color: #333;
}
.news_page{
    background: #fff;
}
.detail-text ul li>p{
    overflow:hidden;
    height: 50px;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    color: #999;
    font-size: 18px;
}
.detail-text ul li:first-child{
    margin-bottom: 20px;
}
.detail-text ul li>a{
    /*text-ellipsis是一个特殊的样式，有关解释是这样的：text-overflow属性仅是注解，当文本溢出时是否显示省略标记。并不具备其它的样式属性定义。要实现溢出时产生省略号的效果还须定义：强制文本在一行内显示（white-space:nowrap）及溢出内容为隐藏（overflow:hidden），只有这样才能实现溢出文本显示省略号的效果。*/
    /*text-overflow与 white-space:nowrap并用，只能一行*/
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    display:block;
    margin-bottom: 15px;
    /*line-height: 40px;*/
}
#powder_activity ul li{
    position: relative;
}
#powder_activity ul li span{
    position: absolute;
    bottom: 0px;
    color: #fff;
    line-height: 30px;
    display: block;
    text-align: center;
    background: rgba(0,0,0,.3);
}
h2 {
    float: left;
    font-size: 18px;
    max-width: 400px;
}

.bg-blue {
    background-color: #32a9f2;

}
.bg-pink {
    background-color: #a67ee1;

}
.bg-orange {
    background-color: #ff7742;

}
.bg-title {
    float: left;
    position: relative;
    /*width: 259px;*/
}

.bg-up {
    left: 0px;
    display: block;
    width: 100%;
    height: 8px;
    position: absolute;
}

.r1 .bg-up::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 100%;
    border-bottom: 8px solid #3589bc;
    border-right: 16px solid transparent;
}
.r2 .bg-up::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 100%;
    border-bottom: 8px solid #a67ee1;
    border-right: 16px solid transparent;
}
.r3 .bg-up::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 100%;
    border-bottom: 8px solid #ff7742;
    border-right: 16px solid transparent;
}
.bg-box {
    height: 404px;
}
.r1 .bg-box{
    background: url(../imgs/box-bg_00f1ca0.png) no-repeat;
    background-position: 42px 47px;
}
.r2 .bg-box{
    background: url(../imgs/box-bg_00f1ca0.png) no-repeat;
    background-position: -285px 47px;
}
.r3 .bg-box{
    background: url(../imgs/box-bg_00f1ca0.png) no-repeat;
    background-position: -625px 47px;
}
.r3 .bg-down{
    background-color: #ff7742;
}
.r2 .bg-down{
    background-color: #a67ee1;
}
.bg-down {
    background: #32a9f2;
    left: 0px;
    display: block;
    width: 100%;
    height: 8px;
    position: absolute;
}

.r1 .bg-down::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 100%;
    border-top: 8px solid #3589bc;
    border-right: 16px solid transparent;
}
.r2 .bg-down::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 100%;
    border-top: 8px solid #a67ee1;
    border-right: 16px solid transparent;
}
.r3 .bg-down::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 100%;
    border-top: 8px solid #ff7742;
    border-right: 16px solid transparent;
}
.progress-ing{

    height: 4px;
    background: #d81e06;
}
.progress-ing-lent{
    height: 4px;
    background: #32a9f2;
}
.lock-day .suodingnum{
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
.yuqi .yuqinum{
  font-weight: 100;
    padding-left: 20px;
    font-size: 30px;
    display: block;
    float: right;
    color: #d81e06;
}
.hd {
    position: relative;
    height: 24px;
    padding-top: 34px;
    line-height: 24px;

}

.bd {
    line-height: 24px;
    margin-top: 5px;
    padding: 48px 0;
    position: relative;

}

.ft {
    position: relative;

}

.rookie-mark {
    display: block;
    position: absolute;
    top: 0px;
    /*right: 38px;*/
    width: 34px;
    left: 273px;
    height: 36px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #32a9f2;
    border-radius: 5px;
    /*padding: 5px 10px;*/
    line-height: 1.3;
}

.bd-row li {
    background: #ffffff;
    opacity: 0.8;
    position: relative;
    list-style: none;
    float: left;
    width: 407px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 25px;
    padding-left: 34px;
    padding-right: 34px;
}

.bd-row li:nth-child(3) {
    padding-top: 8px;
    border-bottom: none;
    height: 202px;
}

.bd-row li:nth-child(4) {
    padding-top: 8px;
    border-bottom: none;
    border-right:none;
}

.bd-row li:nth-child(4) a {
    display: block;
    margin-left: -14px;
}

.bd-row li:nth-child(1) {
    margin-top: 8px;
}

.bd-row li:nth-child(2) {
    margin-top: 8px;
}

.bd-row {
    padding: 0;
}

.main-con {
    padding: 0;
}

.tips {
    float: left;
    background-color: #ff4f3f;
    color: #fff;
    font-size: 14px;
    padding: 0 5px;
    position: relative;
    margin-left: 10px;
    border-radius: 3px;
}

.tips:before {
    content: "";
    position: absolute;
    border: 7px solid transparent;
    border-right-color: #ff4f3f;
    top: 50%;
    left: -14px;
    margin-top: -7px;
}

.tip-title {
    font-size: 18px;
    max-width: 400px;
}

.progress-box {
    position: relative;
    float: left;
    border-width: 0;
    padding: 15px 0 5px;
}
.progress-box-lent {
    display: none;
    position: relative;
    float: left;
    border-width: 0;
    padding: 15px 0 5px;
}
.progress-box-c {
    float: left;
    width: 186px;
    height: 4px;
    background: #dbe1e6;
}
.progress-box-lent .progress-box-c {
    float: left;
    width: 186px;
    height: 4px;
    background: #dbe1e6;
}
.btn-box a {
    float: right;
    background: #ff382c;
    border-color: #ff382c;
}

.t-pic {
    position: absolute;
    top: 30px;
    left: 84px;
    width: 263px;
    height: 157px;
    background: url(../imgs/u-index-bg_1392ba6.png) -530px -11px no-repeat;
}

.download-btn{
    width: 169px;
    height: 34px;
    border: 1px solid #fff;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 337px;
    margin-left: -84px;
    line-height: 34px;
    color: #fff;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.main-detail{
    margin: 20px 0;
}