.login_main{
    background: transparent url("../imgs/login_bg.jpg") no-repeat scroll center 0px;
    height: 520px;
    z-index: 10;
    position: relative;
}
.login_main .login_box{
    position: absolute;
    width: 305px;
    height: 370px;
    top:74px;
    right: 130px;
    background: #fff;


}
.login_main .login_box .login-hd {
    line-height: 42px;
    margin: 0 25px;
    padding: 20px 0 0;
}

.login_main .login_box .login-hd h1 {
    font-weight: 700;
    font-size: 18px;
}
.ff-arial {
    font-family: Arial;
    color: #666;
}

.login_main .login_box .login-hd a {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 12px;
    font-weight: 700;
    color: #45b8ef;
}
.login_main .login_box form{
    margin-top: 25px;
}
.login_main .login_box .login-item {
    position: relative;
	height:60px;
    text-align: center;
}

.login_main .login_box .login-item .login_err{margin-bottom:5px; }
.login_main .login_box .login-item .login_err .err{color: red;display: block;line-height: 18px;font-size:12px;} 
.login_main .login_box  .login-item input {
    width: 238px;
    border: 1px solid #ececec;
    padding: 10px 0 10px 15px;
}
.login_main .login_box  .login-item .input:focus{
    border: 1px solid #45b8ef;
    box-shadow: 0 0 5px #45b8ef;
}
.login_main .login_box  .login-item .login_btn{ 
    background-color: #1194D3;
    border: 1px solid #1194D3;
    display:block;
    color: #fff;
    font-size: 16px;
    margin: 0 auto;
    font-family: "Microsoft YaHei","Hiragino Sans GB";
}
.safe-box .safe-box-i {
    margin-top: 10px;
    height: 50px;
    background-position: 0 -40px;
}
.safe-box .safe-box-i {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 25px;
    background: #eee url("../imgs/safe-box_4831d19.png") no-repeat 0 -45px;
}