ul{
	padding: 0;
}
ul li{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}
.tou{
	width: 1170px;
    margin: 0 auto; 
    overflow: hidden;
}
a:hover{
	text-decoration:none;
}
.tou>div:first-of-type{
	width: 454px;
    height: 48px;
    margin-top: 26px;
    float: left;
	background: url(/public/Home/imgs/logos_2b86f35.png) no-repeat;
}
.tou>div:last-of-type a{
	display: block;
    width: 160px;
    height: 36px;
    margin-top: 26px;
    float: right;
    color: #888;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
}
.tou>div:last-of-type a:hover{
	color: #00A0E9;
	border:1px solid #00A0E9;
}
.big_pic{
	margin-top: 26px;
	clear: both;
	width: 100%;
	height: 382px; 
	background: url(../imgs/hjs.jpg);
	background-size: 100% 100%;
}
.fenlei{
	width: 100%;
	overflow: hidden;
	background: #F5F5F5;
}
.fenlei .prlist{
	width: 1050px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    margin-bottom: 10px; 
    border:1px solid #fff;
    transition: box-shadow ease .5s,border ease .5s;
}
.fenlei .prlist:hover{
	box-shadow: 2px 2px 2px 2px #ccc;
    border:1px solid #ccc;
}
.fenlei .prlist:first-of-type{
	margin-top:60px;
}
.fenlei .prlist .prlist_title{
	width: 100%;
	padding: 15px 18px 15px 25px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    box-sizing: border-box;
}
.fenlei .prlist .prlist_title .fir{
	font-size: 16px;
	font-weight: 500;
}
.fenlei .prlist .prlist_title .sml{
	margin: 0 4px;
    padding: 0 4px;
    color: #4cace6;
    font-size: 12px;
    border: 1px solid #4cace6;
    border-radius: 4px;
}
.fenlei .prlist .explain{
	padding: 39px 10px 30px 50px;
	overflow: hidden;
}
.fenlei .prlist .explain>div{
	float: left;
}
.fenlei .prlist .explain .main-rate span:nth-child(1){
	font-size: 40px;
    font-weight: bold;
    color: #ea4343;
    font-family: Arial;
}
.fenlei .prlist .explain .main-rate span:nth-child(2){
	font-size: 30px;
    font-weight: bold;
    color: #ea4343;
}
.fenlei .prlist .explain .main-rate span:nth-child(3){
	display: block;
    color: #999;
    font-weight: 500;
}
.fenlei .prlist .explain .mod{
    /*margin: 25px 28px 0 112px;*/
    font-size: 24px;
    color: #333;
    line-height: 63px;
    margin-left: 140px;
}
.fenlei .prlist .explain .mod .total{
    font-family: Arial;
}
.fenlei .prlist .explain .mod .num{
	font-size: 16px;
}
.fenlei .prlist .explain .mod .hb{
    display: block;
	color: #999;
    font-weight: 500;
    line-height: 0px;
    font-size: 13px;
}
.fenlei .prlist .explain .progress{
	width: 260px;
    height: 5px;
    margin-bottom: 0;   
    display: inline-block;
}
.fenlei .prlist .explain .pro span{
    color: #999;
}
.fenlei .prlist .explain .pro{
	margin-top: 30px;
	margin-left: 40px;
    width: 315px;
}
.fenlei .prlist .explain .goumai{
    margin-top: 20px;
	margin-left: 30px;
}
.fenlei .prlist .explain .goumai:hover .goumai_btn{
    background: #ff4f3f;
    border-radius: 4px; 
}
.fenlei .prlist .explain .goumai .goumai_btn{
	width: 118px;
    height: 40px;
    line-height: 40px; 
    background: #ea4343;
    color: #fff;
    display: block;
    border-radius: 4px;
    text-align: center;
}
.regular_fenye{
	width: 20%;
	margin: auto;
	display: block;
	padding: 30px 0;
	margin-bottom: 30px;
}
.foow{
	width: 30%;
	margin: auto;
	text-align: center;
}
.foow span{
	display: block;
	float: left;
	padding: 30px 0;
}

