<link rel="stylesheet" type="text/css" href="__ADMIN__/css/reset.css">

<link rel="stylesheet" type="text/css" href="__ADMIN__/css/login.css">
<section id="loginbox" class="loginbox">
	<form action="{:U('ajax/doLogin')}" method="post">
		<h3>欢迎登陆</h3>
		<label class="clearfix" for="abc">
			<span>用户名:</span>
			<cite>
				<input type="text" id="abc" name="abc" autofocus="autofocus">
			</cite>
		</label>
		<label class="clearfix" for="efg">
			<span>密码:</span>
			<cite>
				<input type="text" id="efg" name="efg">
			</cite>
		</label>
		<div class="btn_submit clearfix">
			<button type="submit">登陆</button>
		</div>
	</form>
</section>


 