 
 <include file='include/header'/> 
 
 
 <div class="ManagerBar"> 
			<div class="btn-group oper_bar">
				<button class="btn btn-danger btn-md" id="deleteItem">
					<i class="fa fa-trash-o fa-fw"></i>
					<span>删除</span>
				</button>
			</div> 
			<div class="btn-group oper_bar">  
				<a href="{:U($Think.ACTION_NAME)}" class="btn  btn-warning btn-md" class="btn_refresh">
					<i class="fa fa-refresh"></i>
					<span>显示全部</span>
				</a> 
			</div>
			 <!-- 搜索开始 --> 
		<div class="search_box">
			<form method="get" action=""> 
				<button type="submit" class="btn btn-info btn-md pull-right" id="search_news">
					<i class="fa fa-search"></i>
                    <span>搜索</span>
				</button>
				<label class="form-group pull-right"> 
					<input type="search" name="kw" class="form-control" placeholder="请输入搜索内容" />
				</label> 
				<!-- PHP --> 
				<select class="pull-right search_select" name="col">

					<option value="0" <php>search_selected(I('get.kw'),'')</php> > 
						 搜索所有
					</option>
					<option value="1"  <php>search_selected(I('get.col'),1)</php> >
						用户ID
					</option>
					<option value="2" <php>search_selected(I('get.col'),2)</php> > 
						用户名
					</option>
					<option value="3"  <php>search_selected(I('get.col'),3)</php> >
						手机号
					</option>
					<option value="4" <php>search_selected(I('get.col'),4)</php> > 
						邮箱
					</option>
				</select>
			</form>
		</div>	
		 <!-- 搜索end--> 
</div>  
 <!-- 用户页面的搜索end -->
<!-- 用户列表显示开始 -->
<table class="table table-hover common_table">
		<tr>
			<th class="select">
			 	<input type="checkbox" class="check_all hidden" id="check_all">
				<label for="check_all" class="btn btn-success btn-md">
					<i class="fa fa-square-o"></i>
					<span>全选/反选</span>
				</label> 
			</th>
			 <th>
			 	用户id
			 </th>
			 <th>
			 	用户名
			 </th>
			  <th>
			 	用户密码
			 </th>
			  <th>
			 	用户手机
			 </th>
			  <th>
			 	用户邮箱
			 </th>
			  <th>
			 	注册时间
			 </th>    
		</tr>
		 <volist name="userlist" id="useritem">
			 <tr>
			 	<notempty name='useritem'> 
				 	<td>
				 		<input type="checkbox" class="sub_check" name="sub_check" value="{$useritem.id}">
				 	</td>
				 	<td>
				 		{$useritem.id}
				 	</td>
				 	<td>
				 		{$useritem.user_name}
				 	</td>
				 	<td>
				 		{$useritem.user_pwd}
				 	</td> 
				 	<td>
				 		{$useritem.user_phone}
				 	</td> 
				 	<td>
				 		{$useritem.user_email}
				 	</td> 
					<td>
				 		{$useritem.create_time|date="Y-m-d H:i:s",###}
				 	</td>  
			 	</notempty>
			 </tr>  
		  </volist>
	</table> 
	 <!-- 分页 -->
	 <div class="b-page"> 
		{$sPages} 
	 </div>
	<!-- 分页 end-->
</div>



<!-- 用户列表显示开始end --> 
 
 <include file='include/footer'/>